<%=
	require './compatcgi'
	require 'digest/md5'
	require './libapi'

	eval(File.read('pv/mezatalk.config'))

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)
	@user = cgi.params['user'][0] || ''

	# User Auth
	@ucrt = Digest::MD5.hexdigest(@user + @configs[:auth_salt])[0, 8]
	@auth = (cgi.params['ucrt'][0] == @ucrt)

	@room = params[:name] || cgi.params['room'][0]
	halt(400, 'Bad Request.') unless(@room)

	if(@user and @auth)
		cmds = ['./wsclient']
		cmds << 'ws://%s:%s/' % [ENV['HOSTNAME'], ENV['WEBSOCKET_PORT']]

		req_params = [
			":REQUEST=>'login'",
			":TYPE=>'talk'",
			":USER=>'%s'" % CGI.escape(@user),
			":ROOM=>'_t~%s'" % CGI.escape(@room),
		]; cgi.params.each {|k, v|
			k == 'user' and next
			k == 'ucrt' and next
			k == 'room' and next
			k == 'requests' and next
			req_params << ":%s=>'%s'" % [k.upcase, CGI.escape(v)]
		}
		cmds << '{%s}@@login' % req_params.join(', ')

		cgi.params['requests'].each {|req|
			cmds << req
		}

		res = system(*cmds)
		Json_result.rooms(@room)
	else
		halt(401, 'Unauthorized.')
	end
%>
