<%=
	require 'json'
	require 'digest/md5'
	require './libapi'

	eval(File.read('pv/mezatalk.config'))

	request.body.rewind
	data = JSON.load(request.body.read)
	halt(400, 'Bad Request.') unless(data)
	@user = data['user'] || ''

	# User Auth
	@ucrt = Digest::MD5.hexdigest(@user + @configs[:auth_salt])[0, 8]
	@auth = (data['ucrt'] == @ucrt)

	if(@user and @auth)
		if(request.request_method == 'POST')
			cmds = ['./wsclientj']
			cmds << 'ws://%s:%s/' % [ENV['HOSTNAME'], ENV['WEBSOCKET_PORT']]

			req_params = [
				":REQUEST=>'login'",
				":TYPE=>'talk'",
				":USER=>'%s'" % CGI.escape(@user),
				":ROOM=>'%s'" % CGI.escape(params[:name]),
			]; data.each {|k, v|
				k == 'user' and next
				k == 'ucrt' and next
				k == 'requests' and next
				req_params << ":%s=>'%s'" % [k.upcase, CGI.escape(v)]
			}
			cmds << '{%s}@@login' % req_params.join(', ')

			if((it = params[:seq]) =~ /last/i)
				cmds << "{:REQUEST=>'prop', :TYPE=>'get'}@@last"
			else
				cmds << "{:REQUEST=>'paragraph', :TYPE=>'get', :UCRT=>'%s'}@@%s" % [data['ucrt'], it]
			end

			res = '{}'; IO.popen(cmds) {|io|
				res = io.read.force_encoding('UTF-8')
			}
		end
		res
	else
		halt(401, 'Unauthorized.')
	end
%>
