<%
	require './compatcgi'
	require './mzgdbm'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	eval(File.read('pv/mezatalk.config'))

	# URI decoded
	@user = cgi.params['user'][0] || ''

	require 'digest/md5'

	# User Auth
	@ucrt = Digest::MD5.hexdigest(@user + @configs[:auth_salt])[0, 8]
	@auth = (cgi.params['ucrt'][0] == @ucrt)

	# Search Phrase
	@phrase = cgi.params['phrase'][0]

	@tbdbg = ''	#" border='1'"
	@tidbg = "'images/td.png'"

%><HTML>
	<HEAD>
		<META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<META http-equiv='Cache-Control' content='no-cache'>
<%	if(@user and @auth)
		@e_user = CGI.escape(@user)
		require './mzgdbm'
		u_conf = MzUserDB.new('pv/_u~%s.gdbm' % @e_user)
%>		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<!-- LINK rel='stylesheet' href='themes/<%= u_conf.theme %>/mezatalk.css' -->
		<TITLE>Search: <%= @phrase %> - Mezatalk</TITLE>
	</HEAD>
	<BODY class='search'>
		<TABLE<%= @tbdbg %>>
			<TR><TD><IMG src=<%= @tidbg %> width='480' height='1'><BR>
				◎各ルーム内を全文検索する <A href='help.html#fulltext_search' target='_blank'>?</A>
			<TR align='right'><TD>
				<FORM action='search' method='get'><!-- 以下、全文検索エンジンの仕様によって可変であるべき -->
					<INPUT type='hidden' name='user' value='<%= @user %>'>
					<INPUT type='hidden' name='ucrt' value='<%= @ucrt %>'>
					<TABLE<%= @tbdbg %>>
						<TR align='right'>
							<TD><SPAN id='s_clear'>　🔍 </SPAN>
							<TD><INPUT type='text' id='phrase' name='phrase' style='width:320px;' value='<%= @phrase %>'>
							<TD valign='bottom'><INPUT type='submit' value='検索'<%= @configs[:ftext_search_type] ? '' : ' disabled' %>>
					</TABLE>
					<INPUT type='hidden' name='perpage' value='10'>
					<INPUT type='hidden' name='order' value='@mdate NUMD'>
				</FORM>
		</TABLE>
		<%=

		require 'net/http'
		require 'nokogiri'

		uri = URI.parse(@configs[:ftext_search_uri])
		uri.query = URI.encode_www_form(cgi.params)
		request = Net::HTTP::Get.new(uri.request_uri)
		response = Net::HTTP.start(uri.host, uri.port) {|http|
			http.request(request)
		}

		html2html = {}
		html2html['Hyper Estraier'] = Proc.new {|response|
			doc = Nokogiri::HTML(response.body.force_encoding('UTF-8'))
			tags = doc.xpath('//dl/dt/a')
			tags.each {|tag|
				tag.attr('href') =~ /\/(_[^\/]+)\.html$/ and tag['href'] = '/talk?user=%s;ucrt=%s;room=%s;show=all;phrase=%s#hits' % [@user, @ucrt, CGI.unescape($1), CGI.escape(@phrase)]
			}
			tags = doc.xpath("//dl/dd[@class='doc_navi']/a")
			tags.each {|tag|
				tag.attr('href') =~ /^estseek\.cgi\?(.+)$/ and tag['href'] = '/search?user=%s;ucrt=%s;%s' % [@user, @ucrt, $1.gsub(/&/, ';')]	# Why?
			}
			tags = doc.xpath("//div[@class='paging']/a")
			tags.each {|tag|
				tag.attr('href') =~ /^estseek\.cgi\?(.+)$/ and tag['href'] = '/search?user=%s;ucrt=%s;%s' % [@user, @ucrt, $1.gsub(/&/, ';')]	# Why?
			}
			htmls = []
			htmls << doc.xpath('//style').to_html
			htmls << doc.xpath("//div[@id='estresult']").to_html
			htmls
		}
		html2html['Hyper Estraier p2p'] = Proc.new {|response|
			doc = Nokogiri::HTML(response.body.force_encoding('UTF-8'))
			tags = doc.xpath("//tr/td[@id='hit']")
			hits = tags.children.text
			tags = doc.xpath('//dl/dt/a')
			tags.each {|tag|
				if(tag.attr('id') =~ /doc(\d+)_title_v/)
					tag.content = $1 + '. ' + tag.content
					tag.attr('href') =~ /\/(_[^\/]+)\.html$/ and tag['href'] = '/talk?user=%s;ucrt=%s;room=%s;show=all;phrase=%s#hits' % [@user, @ucrt, CGI.unescape($1), CGI.escape(@phrase)]
				end
				if(tag.attr('id') =~ /doc(\d+)_node/)
					tag.attr('href') =~ /\/search_ui\?(.+)$/ and tag['href'] = '/search?user=%s;ucrt=%s;%s' % [@user, @ucrt, $1.gsub(/&/, ';')]	# Why?
				end
			}
			tags = doc.xpath("//dl/dd[@class='guide']/a")
			tags.each {|tag|
				tag.attr('href') =~ /\/search_ui\?(.+)$/ and tag['href'] = '/search?user=%s;ucrt=%s;%s' % [@user, @ucrt, $1.gsub(/&/, ';')]	# Why?
			}
			tags = doc.xpath("//div[@class='paging']/a")
			tags.each {|tag|
				tag.attr('href') =~ /\/search_ui\?(.+)$/ and tag['href'] = '/search?user=%s;ucrt=%s;%s' % [@user, @ucrt, $1.gsub(/&/, ';')]	# Why?
			}
			htmls = []
			htmls << doc.xpath('//style').to_html
			htmls << '<H4>Hit: %s</H4>' % hits
			htmls << doc.xpath("//div[@class='result']").to_html
			htmls
		}
		begin
			response.value
			htmls = html2html[@configs[:ftext_search_type]].call(response)
		rescue => e
			htmls = []
			htmls << '<H4>%s</H4>' % e.message
		end
		htmls.join("\n").gsub(/\n/, "\n\t\t")
%>
<%	else %>
		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/brdk/mezatalk.css'>
		<TITLE>Error - Mezatalk</TITLE>
	</HEAD>
	<BODY class='error'>
		<P>ユーザの指定が適切ではありません。
<%	end %>
	</BODY>
</HTML>

