<%
	require './compatcgi'
	require './mzgdbm'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	eval(File.read('pv/mezatalk.config'))

	# URI decoded
	@user = cgi.params['user'][0] || ''
	@room = cgi.params['room'][0] || ''

	if(cgi.params['opentype'][0] == 'topic')
		@room = '_t~' + @room					# 内部表現のルーム名を生成
	end

	if(cgi.params['opentype'][0] == 'members')
		users = [[cgi.params['seq_self'][0], @user]]; cgi.params['users'].each {|user|
			users << user.split('.', 2)
		}

		room = ['_m']; users.sort {|a, b|		# 内部表現のルーム名を生成
			a[1] <=> b[1]
		}.each {|user|
			room << user[1]
		}
		@room = room.join('~')

		d_room = []; users.sort {|a, b|			# 表示用のルーム名を生成
			a[0].to_i <=> b[0].to_i
		}.each {|user|
			d_room << user[1]
		}
		@d_room = d_room.join(' ')
	end

	@d_room ||= @room.gsub(/_\w+?~/, '')		# 表示用のルーム名を生成

	require 'digest/md5'

	# User Auth
	@ucrt = Digest::MD5.hexdigest(@user + @configs[:auth_salt])[0, 8]
	@auth = (cgi.params['ucrt'][0] == @ucrt)

	@tbdbg = ''	#" border='1'"
	@tidbg = "'images/td.png'"

%><HTML>
	<HEAD>
		<META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<META http-equiv='Cache-Control' content='no-cache'>
<%	if(@user and @auth and @room and @d_room.size > 0)
		@e_user = CGI.escape(@user)
		require './mzgdbm'
		u_conf = MzUserDB.new('pv/_u~%s.gdbm' % @e_user)
		MzGDBM.open('pv/%s.gdbm' % CGI.escape(@room), 0666, GDBM::NOLOCK | GDBM::READER) {|db|
			(it = db['#label#']) and @d_room = it.force_encoding('UTF-8')
		}
%>		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/<%= u_conf.theme %>/mezatalk.css'>
		<TITLE><%= @d_room %> - Mezatalk</TITLE>
		<SCRIPT type='text/javascript' src='jquery.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='talk.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='sound.js'></SCRIPT><%= u_conf.adhead %>
	</HEAD>
	<BODY class='talk'>
		<BUTTON id='r_toggle'>共有メンバを追加/解除する</BUTTON> <A href='help.html#sharer_add_remove' target='_blank'>?</A>
		<TABLE id='sharer' style='display:none;'<%= @tbdbg %>>
<%		require './members'
		members = Members.new(@configs)
		members.load
%>			<TR align='right'><TD>
				<TABLE<%= @tbdbg %>>
					<TR><TD rowspan='2' valign='top'>メンバ名
						<TD rowspan='2'>
							<TABLE<%= @tbdbg %>>
<%		cols = 5; tr = "<TR align='center'><TD><SPAN class='r_set' id='r,1,%s,1'>・</SPAN>" % [members.size + 1]; cols.times {|n|
			tr << "<TD><SPAN class='r_set' id='r,%d,%d,%d'>・</SPAN>" % [n + 1, members.size + 1, cols]
		}
%>								<%= tr %>
<%		seq = 1; seq_self = 999; members.each_name {|user|
			pad = seq <= cols ? "<IMG src=%s width='64' height='1'><BR>" % @tidbg : ''
			tr = seq % cols == 1 ? "<TR><TD><SPAN class='r_set' id='r,%d,%d,1'>・</SPAN>" % [seq, seq + cols] : "\t"
%>								<%= tr %><TD><%= pad %><INPUT type='checkbox' id='m<%= seq %>' name='users' value='<%= user %>'><LABEL for='m<%= seq %>'><%= user %></LABEL>
<%			seq += 1
		}
%>							</TABLE>
						<TD valign='top'><BUTTON id='r_reset'>外す</BUTTON>
					<TR><TD valign='bottom'><BUTTON id='r_send'>設定</BUTTON>
				</TABLE>
		</TABLE>
		<TABLE<%= @tbdbg %>>
			<TR><TD><IMG src=<%= @tidbg %> width='960' height='1'><BR>
					<DIV id='messages'>
<%=		messages = ''
		Time.to_h_clear
		MzGDBM.open('pv/%s.gdbm' % CGI.escape(@room), 0666, GDBM::NOLOCK | GDBM::READER) {|db|
			messages << db.get_tagged_message(101).join
			start_seq = (it = cgi.params['show'][0]) == 'all' ? 101 : db.last_seq.to_i - (it ? it.to_i : 20) + 1	# デフォルトの表示数を最大 20 個に制限
			if(start_seq < 103)
				start_seq = 102
			else
				messages << "<HR><P><SPAN class='state'><A href='talk?user=%s;ucrt=%s;room=%s;show=all'>省略せず全て表示</A></SPAN><HR>\n" % [@e_user, @ucrt, CGI.escape(@room)]
			end
			(start_seq..db.last_seq.to_i).each {|seq|
				message = db.get_tagged_message(seq, cgi.params['phrase'][0]).join.gsub(/@([^<]{1,64})<A href='#p\d+'>#(\d+)/) {|r|
					atag = "<A href='javascript:void(0)' title='ルームがありません'>@%s#%s" % [$1, $2]
					['t', 'c'].each {|prefix|
						MzGDBM.exist?('pv/%s.gdbm' % [it = '_%s~%s' % [prefix, CGI.escape($1)]]) and \
						atag = "<A href='talk?user=%s;ucrt=%s;room=%s;show=all;#p%s'>@%s#%s" % [@e_user, @ucrt, it, $2, $1, $2] and break
					}
					atag
				}
				messages << message
			}
			(it = u_conf.rplmsg).size > 0 and eval('messages.gsub!' + it)
		} rescue(messages << "<P><SPAN class='err-state'>Failed to access DB.</SPAN>\n")

		messages << "<!-- %s -->\n" % request.env['HTTP_USER_AGENT']
		puts('%s "%s"' % [request.env['REMOTE_ADDR'], request.env['HTTP_USER_AGENT']])
		request.env['HTTP_USER_AGENT'] =~ / MSIE / and \
			messages << "<P><SPAN class='err-state'>お使いのブラウザでは正しく動作しない可能性があります。別のブラウザをお試しください。</SPAN>\n"

		messages << "<HR width='80%'>" %>
					</DIV>
					<DIV id='status'>
						<SPAN class='state'>　</SPAN>
					</DIV>
			<TR><TD><HR>
					<TABLE<%= @tbdbg %>>
						<TR><TD colspan='3'><A href='gaze?user=<%= @user %>;ucrt=<%= @ucrt %>'><IMG src='themes/<%= u_conf.theme %>/images/icon.png' border='0'></A
							><SPAN class='title' id='room'><%= @d_room %></SPAN><SPAN class='title' id='user'>- Mezatalk - <%= @user %></SPAN>
						<TR><TD><INPUT type='text' id='sentence' style='width:360px;'>
								<BUTTON  id='hum' style='width:64px;'>ふむ</BUTTON
								><BUTTON id='ack' style='width:64px;'>同意</BUTTON
								><BUTTON id='mmm' style='width:64px;'>疑念</BUTTON
								><BUTTON id='nak' style='width:64px;'>異議</BUTTON> <A href='help.html#hum_ack_nak_mmm' target='_blank'>?</A>
							<TD><IMG src=<%= @tidbg %> width='96' height='1'><BR>
								<INPUT type='button' id='s_send' value='送信'> <A href='help.html#line_send_button' target='_blank'>?</A>
							<TD width='100%'>
						<TR><TD rowspan='2'><TEXTAREA id='paragraph' rows='6' style='width:640px;'></TEXTAREA>
							<TD valign='top'><IMG src=<%= @tidbg %> width='96' height='1'><BR>
								<INPUT type='button' id='p_clear' value='消去'><BR>
								<INPUT type='button' id='p_exec' value='実行'> <A href='help.html#exec_button' target='_blank'>?</A>
							<TD width='100%'>
						<TR><TD valign='bottom'><INPUT type='checkbox' id='p_code'><LABEL for='p_code'>等幅</LABEL> <A href='help.html#monospace_checkbox' target='_blank'>?</A><BR>
								<INPUT type='button' id='p_quote' value='引用'> <A href='help.html#quote_button' target='_blank'>?</A>
								<INPUT type='button' id='p_send' value='送信'> <A href='help.html#box_send_button' target='_blank'>?</A>
							<TD width='100%'>
						<TR><TD id='icons' valign='bottom'>
							<BUTTON  id='icon_dot'			>・</BUTTON
							><BUTTON id='icon_thumbs'		>👍</BUTTON
							><BUTTON id='icon_heart'		>🧡</BUTTON
							><BUTTON id='icon_grinning'		>😄</BUTTON
							><BUTTON id='icon_astonished'	>😲</BUTTON
							><BUTTON id='icon_worried'		>😟</BUTTON
							><BUTTON id='icon_angry'		>😠</BUTTON> <A href='help.html#icon_button' target='_blank'>?</A>
					</TABLE>
		</TABLE>
		<!-- javascript が読み取る -->
		<INPUT type='hidden' id='wsuri4js' name='wsuri' value='<%= ENV['WEBSOCKET_URI'] %>'>
		<INPUT type='hidden' id='user4js'  name='user'  value='<%= CGI.escape(@user) %>'>
		<INPUT type='hidden' id='room4js'  name='room'  value='<%= CGI.escape(@room) %>'>
		<INPUT type='hidden' id='droom4js' name='droom' value='<%= CGI.escape(@d_room) %>'>
<%		if(it = cgi.params['desc'][0]) and it.size > 0 %>
		<INPUT type='hidden' id='desc4js'  name='desc'  value='<%= CGI.escape(it) %>'>
<%		end %>
<%		if(it = u_conf.lfkey) %>
		<INPUT type='hidden' id='lfkey4js' name='lfkey' value='<%= it %>'>
<%		end %>
<%		if(it = u_conf.sound) %>
		<INPUT type='hidden' id='sound4js' name='sound' value='<%= it %>'>
<%		end %>
<%		if(it = u_conf.blink) %>
		<INPUT type='hidden' id='blink4js' name='blink' value='<%= it %>'>
<%		end %>
<%		if(it = cgi.params['show'][0]) %>
		<INPUT type='hidden' id='showa4js' name='show' value='<%= it %>'>
<%		end %>
<%	else %>
		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='themes/brdk/mezatalk.css'>
		<TITLE>Error - Mezatalk</TITLE>
	</HEAD>
	<BODY class='error'>
		<P>ユーザおよびルームの指定が適切ではありません。
<%	end %>
	</BODY>
</HTML>

