/* テーマ: sxw */

/* ページ全体 */
body.gaze {
	color: #061616;
	background-color: #b5c5c5;
	background-image: url('images/bg1.png');
	font-size: 100%;
}
body.talk {
	color: #061616;
	background-color: #b5c5c5;
	background-image: url('images/bg1.png');
	font-size: 100%;
}
body.setting {
	color: #061616;
	background-color: #b5c5c5;
	background-image: url('images/bg1.png');
	font-size: 100%;
}
body.search {
	color: #061616;
	background-color: #b5c5c5;
	background-image: url('images/bg1.png');
	font-size: 100%;
}
body.error {
	color: #061616;
	background-color: #b5c5c5;
	background-image: url('images/bg1.png');
	font-size: 100%;
}
a:link {
	color: #303060;
	font-size: 100%;
}
a:visited {
	color: #8080c0;
	font-size: 100%;
}
a:hover {
	color: #c04040;
	font-size: 100%;
}
a:active {
	color: #c0c040;
	font-size: 100%;
}
input[type='text'], textarea {
	color: #061616;
	background-color: #acbcbc;
	font-size: 100%;
}
strong {
	color: #FF0000;
}

/* タイトル */
.title {
	color: #061616;
	font-size: 200%;
	font-weight: bold;
	font-style: italic;
	font-family: cursive;
	margin: 0em 0em 0em 0.5em;
}

/* 機能状態表示 */
.state {
	color: gray;
	font-size: 80%;
}
.err-state {
	color: red;
	font-size: 80%;
	font-weight: bold;
}

/* 発言番号 */
.seq {
	color: gray;
	font-size: 70%;
}

/* 発言者 */
.user {
	color: #061616;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 訂正印 */
.correct {
	color: red;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 発言内容 */
.text {
	color: #061616;
	font-size: 100%;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* プログラムコード、ログ */
.code {
	color: #dfefef;
	background-color: #061616;
	font-size: 80%;
	font-family: monospace;
	padding: 0.5em 0.5em;
	border-radius: 1em;
	margin: 0em 0em 0em 1em;
	white-space: pre;
	display: inline-block;
}

/* アップロードへのキャプション */
.caption {
	color: #061616;
	font-size: 80%;
	font-family: sans-serif;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* アイコン */
.icon {
	color: #061616;
	font-size: 80%;
	margin: 0em 0em 0em 1.2em;
}

