/* テーマ: comical */

/* ページ全体 */

body.gaze {
        /*content: url(images/homewallpaper.png);*/
        background: linear-gradient(0deg, #f6546a, #100E);
        color: #daa520;
        font-size: 100%;
}
body.talk {
        color: #daa520;
        background: linear-gradient(0deg, #A72F37, #4c1130);
        font-size: 100%;
}
body.setting {
        color: #daa520;
        background: linear-gradient(0deg, #f6546a, #100E);
        font-size: 100%;
}
body.error {
        color: #daa520;
        background: linear-gradient(0deg, #f6546a, #100E);
        font-size: 100%;
}
a:link {
        color: lightblue;
        font-size: 100%;
}
a:visited {
        color: #8080cf;
        font-size: 100%;
}
a:hover {
        color: #c04040;
        font-size: 100%;
}
a:active {
        color: #c0c040;
        font-size: 100%;
}
input[type='text'], textarea {
        color: #f5f5f5;
        background-color: #424242;
        font-size: 100%;
}
strong {
        color: #FF0000;
}

/* タイトル */
.title {
        color: white;
        font-size: 220%;
        font-family: 'Impact';
        margin: 0em 0em 0em 0.5em;
}

/* 機能状態表示 */
.state {
        color: #999999;
        font-size: 95%;
        font-family: monospace;
}
.err-state {
        color: red;
        font-size: 80%;
        font-weight: bold;
}

/* 発言番号 */
.seq {
        color: #999999;
        font-family: monospace;
}

/* 発言者 */
.user {
        color: #d4d4c8;
        font-family: sans-serif;
        font-size: 80%;
        margin: 0em 0em 0em 0.5em;
}

/* 訂正印 */
.correct {
        color: #ff4040;
        font-family: monospace;
        font-size: 100%;
        font-weight: bold;
        margin: 0em 0em 0em 1em;
}

/* 発言内容 */
.text {
        color: white;
        font-size: 100%;
        margin: 0em 0em 0.5em 1em;
        display: inline-block;
}

/* プログラムコード、ログ */
.code {
        color: #eeeeee;
        background-color: #794044;
        font-size: 85%;
        font-family: 'Lucida Console';
        margin: 0em 0em 0.5em 1em;
        padding: 0.5em 0.5em;
        border-radius: 1em;
        white-space: pre-wrap;
        display: inline-block;
        width: 1200px;
}

/* アップロードへのキャプション */
.caption {
        color: #d4d4c8;
        font-size: 80%;
        font-family: sans-serif;
        margin: 0em 0em 0em 1em;
        display: inline-block;
}

/* アイコン */
.icon {
        color: #d4d4c8;
        font-family: sans-serif;
        font-size: 80%;
        margin: 0em 0em 0em 1.2em;
}

