/* テーマ: darker */

/* ページ全体 */
body.gaze {
	color: #d4d4c8;
	background-color: #151515;
	font-size: 100%;
}
body.talk {
	color: #d4d4c8;
	background-color: #151515;
	font-size: 100%;
}
body.setting {
	color: #d4d4c8;
	background-color: #151515;
	font-size: 100%;
}
body.error {
	color: #d4d4c8;
	background-color: #151515;
	font-size: 100%;
}
a:link {
	color: #ba55d3;
	font-size: 100%;
}
a:visited {
	color: #ba55d3;
	font-size: 100%;
}
a:hover {
	color: #c04040;
	font-size: 100%;
}
a:active {
	color: #c0c040;
	font-size: 100%;
}
input[type='text'], textarea {
	color: #d4d4c8;
	background-color: #424242;
	font-size: 100%;
}
strong {
	color: #FF0000;
}

/* タイトル */
.title {
	color: #d4d4c8;
	font-size: 200%;
	font-family: 'arial black';
	margin: 0em 0em 0em 0.5em;
}

/* 機能状態表示 */
.state {
	color: gray;
	font-size: 80%;
}
.err-state {
	color: red;
	font-size: 80%;
	font-weight: bold;
}

/* 発言番号 */
.seq {
	color: gray;
	font-size: 70%;
}

/* 発言者 */
.user {
	color: #a9d0f5;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 訂正印 */
.correct {
	color: red;
	font-size: 80%;
	margin: 0em 0em 0em 0.5em;
}

/* 発言内容 */
.text {
	color: #d4d4c8;
	font-size: 100%;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* プログラムコード、ログ */
.code {
	color: #d4d4c8;
	background-color: #424242;
	font-size: 80%;
	font-family: 'Lucida Console';
	padding: 0.5em 0.5em;
	border-radius: 1em;
	margin: 0em 0em 0em 1em;
	white-space: pre;
	display: inline-block;
	overflow-x: scroll;
	width: 1200px;
}

/* アップロードへのキャプション */
.caption {
	color: #d4d4c8;
	font-size: 80%;
	font-family: sans-serif;
	margin: 0em 0em 0em 1em;
	display: inline-block;
}

/* アイコン */
.icon {
	color: #a9d0f5;
	font-size: 80%;
	margin: 0em 0em 0em 1.2em;
}

